<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="about-section">
  <h1>About Us Page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta et beatae sed aspernatur mollitia eligendi non perferendis tenetur tempore aperiam. Ipsa incidunt eum velit natus culpa eos facilis placeat quam.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum molestiae quaerat totam!</p>
</div>
<div style="text-align: center; background-color: rgba(0, 0, 0, 0.527); padding-top: 25px; padding-bottom: 25px;">
    <video width="420" height="360" autoplay>
        <source src="../../assets/video.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
</div>

<h2 style="text-align:center; font-weight: bold;">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../assets/ceo.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/ceo1.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Jane Chritopher</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="../../assets/ceo3.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
<footer style="text-align: center; background-color: rgba(240, 255, 255, 0.616); object-fit: cover;">
    <p>Copyright @2022</p>
    <p><a href="mailto:hege@example.com" style="font-weight: bold;">Created By Kanishka Khandelwal</a></p>
  </footer>
</body>
</html>
